@font-face {
    font-family: 'Mervale Script';
    src: url('../assets/fonts/mervale-script-webfont.woff2') format('woff2'),
         url('../assets/fonts/mervale-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Abril Fatface';
    src: url('../assets/fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Alegreya SC Regular';
    src: url('../assets/fonts/alegreyasc-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/alegreyasc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
