
/* STRUCTURE AND LAYOUT */
/* Mobile Display, Desktop Classes Hidden */
@media only screen and (width < 1024px) {
  .desktop { display: none !important;}
  /* .mobile { display: block !important;} */
}

@media only screen and (width >= 1024px) and (orientation : landscape) {
  /* .desktop { display: block !important; } */
  .mobile { display: none !important;}
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 70vw;
}

.hidden {
  width:100%;
  height: 20vh;
  background: black;
  color: white
}

@media only screen and (width < 1024px) {
  .container {
    margin: 0 auto;
    width: 90vw;
  }
}

i .icon{
  display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
/* Re-usable CLASSES */

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mt-1 {
  margin-top: 1vh;
}

.mt-2 {
  margin-top: 3vh;
}

.mt-3 {
  margin-top: 5vh;
}


/* COLOURS */
.bg-developer, .dark-green {
  background: rgba(24, 42, 34, 1);
}
.bg-default, .platinum {
  background: rgba(233, 235, 234, 1);
  /*  background: hsla(150, 5%, 92%, 1);*/
}
.bg-product, .brunswick  {
  background: rgba(40, 71, 59, 1);
}
.bg-designer, .viridian{
  background: rgba(75, 132, 110, 1);
}
.bg-writer, .cambridge {
  background: rgba(115, 182, 162, 1);
}

.bg-developer-faded, .dark-green-faded {
  background: rgba(24, 42, 34, 0.6);
}
.bg-default-faded, .platinum-faded {
  background: rgba(233, 235, 234, 0.6);

}
.bg-product-faded, .brunswick-faded {
  background: rgba(40, 71, 59, 0.6);
}
.bg-designer-faded, .viridian-faded {
  background: rgba(75, 132, 110, 0.6);
}
.bg-writer-faded, .cambridge-faded {
  background: rgba(115, 182, 162, 0.6);
}

.text-dark, .text-dark a {
  color: rgba(24, 42, 34, 1);
}

.text-light, .text-light a {
  color: rgba(233, 235, 234, 1);
}

/* FONT and TYPEFACES */
body {
  font-family: 'Lato', serif;
  font-size: 1.2rem;
}

h1, h2, h3 {
  color: rgba(24, 42, 34, 1);
  text-transform: capitalize;
  font-family: 'Abril Fatface';
}

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 5vh 0;
}

h2 {
  font-size: 1.8rem;
  margin: 4vh 0;
}

h3 {
  font-size: 1.5rem;
  margin: 3vh 0;
}

table, td, th, tr, p
{
 line-height: 1.6rem;
 font-family: 'Lato', serif;
}

p {
  margin-bottom: 4vh;
  margin: 3vh 0;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

li {
  list-style: outside;
  margin: 5vh 1vw 5vh 2vw;
   line-height: 1.8rem;
  font-size: 1.2rem;
}

.image-caption {
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
}

strong, bold, {
  font-weight: 700;
}

a, a:hover, a:active, a:visited {
   text-decoration: none; 
  font-weight: 700;
  /*text-underline-position:below;
  text-underline-offset: 1vw;*/
}

a {
  color: rgba(40, 71, 59, 1);
}

em {
  font-style: italic;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

strong {
  font-weight: 800;
}



/* HEADER AND NAVBAR */
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: calc(100% - 4vw);
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 2vw;
  overflow: visible;
  align-items: center;
  background-color: rgba(24, 42, 34, 1);
  color: rgba(233, 235, 234, 1);
}


section#logo {
  width: 100%;
  font-family: "Mervale Script";
}

#logo img {
  height: 5vh !important;
  border: none !important;
  background: none;
}

/* INCLUDE for SVG Logo */
/*@media only screen and (width < 1024px) {

  #logo img {
    position: relative;
    left: -4vw;
  }
}
*/


/*@media only screen and (width < 1024px) {
    #logo .mobile {
        position: relative;
        left: -4vw;
    }
}*/
/*
#logo .mobile {
    height: 5vh !important;
    border: none !important;
    background: none;
  }*/


h1#title-mobile.mobile, h1#title.desktop{
  display: flex;
  justify-content: center;
  font-family: "Mervale Script";
  font-weight: 500;
}

@media only screen and (width < 1024px) {
  #title {
    display: flex;
    flex-direction: column;
  }

  #title, #title-richard, #title-hanrahan {
    font-family: "Mervale Script";
    font-size: 4vh;
/*    line-height: 10vh;*/
    font-weight: 500;
    color: white;

  }

  #title-richard {
    font-size: 5vh;
  }
    #title-hanrahan {
        font-size: 4vh;
  }
}
/*    padding-left: 7vh;*/
/*    line-height: 7vh;*/
  }

  #front_title {
    color: #ffffff;
  }
  #front_title .gentle-center {
    min-height: 82vh;
  }
  }

@media only screen and (width >= 1024px) and (orientation : landscape) {
#title {
  font-family: "Mervale Script";
  font-size: 10vh;
  line-height: 10vh;
}

#front_title {
  background: #E9EBEA;
  color: #ffffff;
}
#front_title .gentle-center {
  min-height: 82vh;
}
}

/* RH Responsive */
section#logo h1 {
  font-size: 2rem;
  line-height: 1.8rem;
  color: white;
}

section#logo h1 a, section#logo h1 a:visited, section#logo h1 a:hover, section#logo h1 a:active {
  font-weight: 300;
/* text-underline-position: auto;*/
/* text-underline-offset: 0;*/
  text-decoration: none;
}

h1#title:hover {
  color: rgba(115, 182, 162, 1);
}

h1#title:hover * { }


#navbar-socials {
  width: 5vw;
    display: flex;
    justify-content: space-between;
}

#navbar-socials a {
    color: white;
}

#navbar-socials a:hover {
    color: rgba(115, 182, 162, 1);
}

.banner-caption {
padding: 2vh 0;
}

/*.banner-caption::before {
  content: "Image: "
}*/




/* IMAGES and ICONS */
img {
  max-height: 50vh;
  object-fit: contain;
  margin: 0 auto;
  border: 4px solid rgba(24, 42, 34, 1);
  padding: 1vw;
  background-color: rgba(233, 235, 234, 1);
}

@media only screen and (width < 1024px) {
  img { width: calc(88vw - 8px);}
}

/* Mobile Display, Desktop Classes Hidden */
@media only screen and (width >= 1024px) and (orientation : landscape) {
  img { width: calc(68vw - 8px);}
}

.icon {
/*  height: 3vh;*/
  border: none;
  background: none;
  color: rgba(24, 42, 34, 1);
}

.icon:hover {
  color: rgba(24, 42, 34, 0.5);}

#banner {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
/*    background: rgba(115, 182, 162, 1);*/
/*    background: linear-gradient(180deg, rgba(40, 71, 59, 1) 90%, rgba(255,255,255,1) 100%)*/
}

#banner h1 { 
  margin: 10vh 5vw 5vh 10vw;
    color: white;
    line-height: 4rem;
/*  background: rgba(75, 132, 110, 1);*/
/*  padding: 1vh 3vw 1vh 3vw;*/
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.title-box-styling {
  background: rgba(75, 132, 110, 1);
    padding: 0 1vw;
    -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
    box-shadow: 6px 5px 0 rgba(115, 182, 162, 1);
}

#banner p {
  text-transform: uppercase;
}

.lesser {
    text-transform: lowercase !important;
    color: rgba(40, 71, 59, 1);
}
/*.bg-developer {
  background: rgba(24, 42, 34, 1);
}
.bg-default {
  background: rgba(233, 235, 234, 1);
}
.bg-product {
  background: rgba(40, 71, 59, 1);
}
.bg-designer {
  background: rgba(75, 132, 110, 1);
}
.bg-writer {
  background: rgba(115, 182, 162, 1);
}
*/
#banner_image {
  width: 100%;
  min-height: 60vh;
  margin-top: 7vh;
  object-fit: cover;
  border: none !important;
  background: none;
  padding: 0;
}

td img {
  width: 30vw !important;
}

/* ARTICLE STYLING ELEMENTS */
/* TITLE and META SECTION */

.date {
  font-style: italic;
}

.meta {
  margin: 0 0 4vh 0;
}

.meta section {
  padding: 1vh 15vw;
}


@media only screen and (width < 1024px) {

.meta {
  margin: 0;
}

  .meta section {
    padding: 2vh 5vw;
  }
}

.summary {
  font-weight: bold;
  line-height: 2rem;
}

#meta-socials {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media only screen and (width < 1024px) {

#meta-socials {
  width: 25vw;}
}


/* TABLES */
table {
  min-width: 50vw;
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid rgba(233, 235, 234, 1);
  border-bottom: 2px solid rgba(24, 42, 34, 1);
  }

th, td {
  border: 2px solid rgba(24, 42, 34, 0.6);
  padding: 1vw 3vh;
  border-collapse: collapse;
}

th {
  background: rgba(24, 42, 34, 1);
  color: rgba(233, 235, 234, 1);
  text-transform: uppercase;
  font-size: 12px;
}

table {
  margin: 7vh 0;
}

td, th, tr, td p, th p, tr p {
 margin: 2vh 0 ;
 line-height: 1.6rem;
 font-family: 'Lato', serif;
}

/* Zebra Striping */
tbody tr {
  background: rgba(233, 235, 234, 0.6);
}
tbody tr:nth-child(odd) {
  background: rgba(115, 182, 162, 0.3);
}


/* LAYOUT COMPONENTS */

.layout-component-image-float-left {
    float: left;
    width: 35%;
    padding: 0;
    margin-right: 2vw;
    border: 0;
}

.layout-component-image-float-right {
    float: right;
    width: 45%;
    padding: 0;
    margin-left: 2vw;
    border:0;
}

@media only screen and (width < 1024px) {

  .layout-component-image-float-right, .layout-component-image-float-left {
    float: none;
    width: 100%;
    margin: 0 0 1vh 0;
  } 
}

/* OTHER */

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



#tagged {
  align-items: center;
}

#tagged-list {
  margin: 0 0 2vh 1vh;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
}

#tagged-list li {
  padding: 0.5vw 1vw;
  font-size: 1rem;
  margin: 0 1vw;
  gap: 1ch;
  background: rgba(24, 42, 34, 1);
  color: white;
  display: inline;
}

label[for=element-toggle] {
  cursor: pointer;
}
#element-toggle {
  display: none;
}
#element-toggle:not(:checked) ~ .toggled-element {
  display: none;
}

#about {
    width: 100%;
    background: rgba(24, 42, 34, 1);
    color: white;

/*    margin-bottom: -7vh;*/
}

@media only screen and (width >= 1024px) and (orientation : landscape) {
  #about {
    height: 100vh !important;
  }
}

#about header {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

@media only screen and (width < 1024px) {
  #about header {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
  }
}

#about > * > * > a {
  color: white !important;
}

ul#about-links > li > a, 
ul#about-categories > li > a , 
ul#about-footer > li > a , 
#about-socials > a > i { 
  color: white; 
}

ul#about-links > li > a:hover,
ul#about-categories > li > a:hover,
ul#about-footer > li > a:hover , 
#about-socials > a:hover > i { color: rgba(115, 182, 162, 1);}

#about-links {
  min-width: calc(80vw/2);
    line-height: 3.1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Abril Fatface";
    letter-spacing: 0.15rem;
}

#about-links li {
    list-style: none;
    margin: 0;
    line-height: 2.5rem;
    font-size: 2rem;
}


#about-categories {
  width: calc(80vw/2);
  display: flex;
/*  line-height: 1.5rem;*/
list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  flex-direction: row;
  flex: 2;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#about-categories li {
  list-style: none;
  margin: 0;
  line-height: 1.2rem;
/*    font-size: 2rem;*/
}

@media only screen and (width < 1024px) {
  #about-categories {
    width: 100% !important;
    flex-direction: column !important;
  }
}

#about-categories li {
    width: 18vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    height: 6vh;
    border-bottom: white 0.3px solid;
}

@media only screen and (width < 1024px) {
  #about-categories li {
      padding-top: 2vh;
      width: 100%;
      margin-right: 1vw;
      margin-bottom: 1vw;
      height: 6vh;
      border-bottom: white 0.3px solid;
  }
}

.wide-container {
  padding: 15vh 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

@media only screen and (width < 1024px) {
  .wide-container {
    padding: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 90vw;
    margin: 0 auto;}
}

#about-socials {
  margin: 10vh 0;
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#about-socials>* {
  display: flex;
  margin-right: 1vw;
  align-items: center;
  font-size: 1.7rem;
}

.bgg {
  width: 4vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

.light {

width: 100%;
height: 1px;
background: white;
}

#about hr {
  margin-top: 15vh;
}

#about footer {
  width: 100%;
 
}

@media only screen and (width >= 1024px) and (orientation : landscape) {
  #about footer { 
  max-height: 5vh;
  position: absolute;
  bottom: 13vh;
  }
}


#about-footer{
  display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 10vh;
}

#about-footer li {
  list-style: none;
  margin: 0;
}
@media only screen and (width < 1024px) {
  #about-footer{
    margin-bottom: 4vh;
    height: 28vh !important;
    justify-content: space-between !important;
    align-content: flex-start;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    margin-top: 3vh !important;
  }
}

.article-row h2, .article-row h3 {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.article-row a, .article-row a:hover, .article-row a:visited {
  text-decoration: none;
}

.article-row li {
  margin: 0;
  list-style: none;
}


.article-row h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 5vw;
  font-size: 3.5rem;
/*  width: 5vw;*/
}

.article-row ul {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    /* flex: 3; */
}


.article-row li {
  flex: 1;
  flex-basis: 30%;
}

/* Mobile Display, Desktop Classes Hidden */
@media only screen and (width < 1024px) {
  .article-row li {
    flex: 1;
    flex-basis: 51%;
  }
}

.article-row img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  padding: 0;
  border: 0;
}

#article-row-text-container {
  min-height: 35vh;
  width: 80%;
  margin: 0 auto;

}

#article-row-text-container footer p, #article-row-category {
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
  margin: 0;
}



#article-row-category, #article-row-category a, #article-row-category a:hover, #article-row-category a:visited
{
  text-decoration: none;
  color: rgba(115, 182, 162, 1);
  padding-top: 3vh;
}

#article-row-category-span {
  border-bottom: 2px dotted rgba(115, 182, 162, 1);
}


/* ARCHIVE POST LIST STYLING */

.display-list-item {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0 !important;
}

.display-list-item:nth-child(odd) {
  flex-flow: row-reverse;
}

.display-list-item-image {
  height: 30vh;
  max-width: 30vw;
  object-fit: cover;
  padding: 0;
  border: 0;
}

.display-list-item-copy {
  color: #fff;
    width: 90vw;
    max-height: 20vh;
    margin-top: calc(2%);
    position: relative;
    line-height: 1em;
    padding: 1vh 1vw;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.display-list-item:nth-child(odd) > .display-list-item-copy {
  left: 3% !important;
}

.display-list-item:nth-child(even) > .display-list-item-copy{
  left: -3%;
} 

.shaded{
  box-shadow: 6px 5px 0 rgba(24, 42, 34, 0.8);
}

.wrds:nth-child(odd) { background: hsla(162, 31%, 58%, 1); }
.wrds:nth-child(even) { background: hsla(162, 41%, 58%, 1); }
.blog:nth-child(odd) { background: hsl(157, 28%, 41%, 1) }
.blog:nth-child(even) { background: hsl(157, 38%, 41%, 1) }
.extracts{ background: hsl(150, 5%, 92%, 1)}
.alternative-wordbook{ background: hsl(150, 5%, 92%, 1)}
.shorts{background: hsl(157, 28%, 22%, 1)}
.documentary{background: hsl(157, 28%, 22%, 1)}
.sketch:nth-child(odd) { background: hsla(162, 31%, 58%, 1); }
.sketch:nth-child(even) { background: hsla(162, 41%, 58%, 1); }
.live:nth-child(odd) { background: hsl(157, 28%, 41%, 1) }
.live:nth-child(even) { background: hsl(157, 38%, 41%, 1) }


.shorts > h2{ color: white; }
.alternative-wordbook h2 span.category { color: hsla(157, 28%, 22%, 0.3) !important; }
.alternative-wordbook > * { color: black }
.extracts h2 span.category { color: hsla(157, 28%, 22%, 0.3) !important; }
.extracts > * { color: black }

.tags-list {
  align-items: center;
}

.tags-list {
  margin: 0 0 2vh 1vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tags-list li {
  padding: 0.4rem;
    line-height: 0.8rem;
    font-size: 0.8rem;
    margin: 0 1vw;
    border-radius: 10px;
    text-transform: lowercase;
    gap: 1ch;
    color: white;
    display: inline;
}

.display-list-item:nth-child(even) > * > .tags-list li:nth-child(odd) { background: hsl(157, 18%, 31%, 1);;}
.display-list-item:nth-child(even) > * > .tags-list li:nth-child(even) { background: hsl(157, 18%, 21%, 1);}
.display-list-item:nth-child(odd) > * > .tags-list li:nth-child(odd) { background: hsl(157, 18%, 21%, 1); }
.display-list-item:nth-child(odd) > * > .tags-list li:nth-child(even) { background: hsl(157, 18%, 31%, 1);}

.display-list-item-copy h2 {
  font-size: 1.4rem;
    margin: 1vh 0 2vh 0;
    line-height: 1.6rem;
}

.display-list-item-copy h2 span.category {
  color: hsla(150, 5%, 92%, 0.6);
}

.display-list-item-copy p {
  margin: 0 0 1vh 0;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0vh 4vw;
}

@media only screen and (width < 1024px) {
.shaded { box-shadow: none;}
.display-list-item {
  display: flex;
  flex-direction: column !important;
}

.display-list-item:nth-child(odd) {
  flex-flow: column !important;
}

.display-list-item-image {
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  margin-top: 2vh;
  object-fit: cover;
  padding: 0;
  border: 0;
}

.display-list-item-copy {
  color: #fff;  
  width: 90vw;
  min-height: 5vh;
  opacity: 0.95;
  margin-top: -1vh;
  padding: 1vh 0 0 0;
}

.display-list-date{text-align: right;
    margin-top: -4vh !important;}
.display-list-item-copy h2, .post-list-item-copy p {
  padding: 0 4vw;
}

.display-list-item-copy h2 {
  width: 65%;
    line-height: 1.7rem;
}


.display-list-item:nth-child(odd) > .display-list-item-copy {
  left: 0 !important;
}

.display-list-item:nth-child(even) > .display-list-item-copy{
  left: 0;
} 
}

/* Gallery */
#gallery-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#gallery-list > li { 
  height: 30vh;
  list-style: none;
 }

 .gallery-image { 
     height: 100%;
    object-fit: contain;
    width: auto;
    padding: 0;
    border: none; }

/* Footnotes */
.footnotes > ol > li {
  list-style: decimal;
  list-style-position: inside;
  margin: 0vh 1vw 3vh 0vw;
}

.footnotes::before {
  content: 'Footnotes';
  color: rgba(24, 42, 34, 1);
  text-transform: capitalize;
  font-family: 'Abril Fatface';
  font-size: 1.8rem;
  margin: 4vh 0;
}

li[role=doc-endnote] > p {
  display: inline;
}

.footnote{
  vertical-align: super;
    font-size: 0.8em;
    margin-left: 2px;
    line-height: 0;
}

/* BLOCKQUOTE */

blockquote{
  font-size: 1.4em;
  margin: 3vh auto;
  font-style: italic;
  color: #555555;
  padding: 5vh 3vw 5vh 8vw;
  border-left: 8px solid rgba(115, 182, 162, 1);
  line-height: 1.6;
  position: relative;
  background: rgba(233, 235, 234, 1);
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

#dictionary {
  margin: 5vh auto;
}


#definition {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: lowercase;
  margin: 2vh auto;
}

#pronounciation {
   margin: 0 auto;
 font-size: 1em;
    font-weight: 700;
    letter-spacing: .1vw;
    word-spacing: 0.2vw;
    text-transform: lowercase;
    font-family: system-ui;
}

#pronounciation::before {
  content: "[";
}


#pronounciation::after {
  content: "]";
}

#syntactic-class {
   margin: 0 auto;
  font-weight: 700;
}

figcaption {
  font-style: italic;
    padding: 0.5em 2em;
    line-height: 1.3rem;
    font-size: 1rem;
    margin: 0;
    width: calc(100% - 6vh);
    background: rgba(75, 132, 110, 0.2);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}