
/* Mobile Display, Desktop Classes Hidden */
@media only screen and (width < 1024px) {
  .desktop { display: none !important;}
  .mobile { display: block !important;}
}

/* Desktop Display, Mobile Classes Hidden */
@media only screen and (width >= 1024px) and (orientation : landscape) {
  .desktop { display: block !important; }
  .mobile { display: none !important;}
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}
body {
  margin: 0;
  line-height: 4vh;
  color: #112B23;
  font-family: "Prata";
}

/* COLOURS */
.bg-developer {
  background: rgba(24, 42, 34, 1);
}
.bg-default {
  background: rgba(233, 235, 234, 1);
}
.bg-product {
  background: rgba(40, 71, 59, 1);
}
.bg-designer {
  background: rgba(75, 132, 110, 1);
}
.bg-writer {
  background: rgba(115, 182, 162, 1);
}

.bg-developer-faded {
  background: rgba(24, 42, 34, 0.6);
}
.bg-default-faded {
  background: rgba(233, 235, 234, 0.6);
}
.bg-product-faded {
  background: rgba(40, 71, 59, 0.6);
}
.bg-designer-faded {
  background: rgba(75, 132, 110, 0.6);
}
.bg-writer-faded {
  background: rgba(115, 182, 162, 0.6);
}

.text-dark, .text-dark a {
  color: rgba(24, 42, 34, 1);
}

.text-light, .text-light a {
  color: rgba(233, 235, 234, 1);
}

/* ALIGNMENT and POSITIONING */

.gap-1 { gap: 1ch; }
.gap-2 { gap: 2ch; }
.gap-3 { gap: 3ch; }
.gap-4 { gap: 4ch; }
.gap-5 { gap: 5ch; }

.mb-1 { margin-bottom: 1vh; }
.mb-2 { margin-bottom: 2vh; }
.mb-3 { margin-bottom: 3vh; }
.mb-4 { margin-bottom: 4vh; }
.mb-5 { margin-bottom: 5vh; }

.gentle-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper section {
  min-height: 100vh;
  min-height: 100vh;
  overflow: visible;
  scroll-snap-type: y mandatory;
}

.wrapper footer {
  min-height: 20vh;
  max-height: 100vh;
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
}

/* Styling for Titles */

/* Mobile First */
@media only screen and (width < 1024px) {
#roles {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  align-items: center;
}

#roles li {
  list-style: none;
}

#roles a, #roles a:hover, #roles a:active, #roles a:checked, #roles a:visited {
text-decoration: none;
color: #112B23;
}
}

/* Exception for Desktop */
@media only screen and (width >= 1024px) and (orientation : landscape) {

  #roles {
    display: flex;
    gap: 3ch;
    align-items: center;
    flex-direction: row !important;
  }

  #roles li {
    list-style: none;
  }

  #roles a, #roles a:hover, #roles a:active, #roles a:checked, #roles a:visited {
  text-decoration: none;
  color: #112B23;
  }

}


/* Richard Hanrahan Main Title */

@media only screen and (width < 1024px) {
  #title {
    display: flex;
    flex-direction: column;
  }

  #title, #title-richard, #title-hanrahan {
    font-family: "Mervale Script";
    font-size: 10vh;
    line-height: 10vh;
  }

  #title-hanrahan {
    padding-left: 7vh;
    line-height: 7vh;
  }

  #front_title {
    color: #112B23;
  }
  #front_title .gentle-center {
    min-height: 82vh;
  }
  }

@media only screen and (width >= 1024px) and (orientation : landscape) {
#title {
  font-family: "Mervale Script";
  font-size: 10vh;
  line-height: 10vh;
}

#front_title {
  background: #E9EBEA;
  color: #112B23;
}
#front_title .gentle-center {
  min-height: 82vh;
}
}

/* Developer Title */
#developer_title, #developer-page-title {
  font-family: "Abril Fatface";
}
#developer_title {
  font-size: 3vh;
}

#developer_title::before, #developer-page-title::before {
  content: "{";
}
#developer_title::after, #developer-page-title::after {
  content: "}";
}

/* Product Owner Title */
#product_title, #product-page-title {
  font-family: "Alegreya SC Regular";
}

#product_title {
  font-size: 3vh;
  padding-top: 2px;
}

/* Designer Title */
#designer_title, #designer-page-title {
  font-family: "Alfa Slab One";
}
#designer_title {
  font-size: 3vh;
}

/* Writer Title */
#writer_title, #writer-page-title {
  font-family: "Allison Regular";
}

#writer_title {
  font-size: 5vh;
}


/* SUB PAGES */
/* Component */

.scroll-snap {
  scroll-snap-align: start;
}


.scroll-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (width >= 1024px) and (orientation : landscape) {

  .subpage-content {
    padding-left: 10vh;
    padding-right: 10vh;
    /* min-width: 100%; */
    min-height: 100vh;
    overflow: visible;
  }
}

@media only screen and (width < 1024px) {

  .subpage-content {
    min-height: 100vh;
    width: 90vw;
    padding: 0vh 0 0 5vw;
    overflow: visible;
  }
}

.subpage-header h2 {
  font-size: 6vh;
  margin-bottom: 5vh;
  margin-top: 7vh;
}

.subpage-summary {
  margin-bottom: 5vh;
}


.subpage-posts {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.subpage-post {
  display: block;
  height: 30vh;
  overflow: hidden;
  margin: 1vw;
}

@media only screen and (width < 1024px) {
  .subpage-post {
    width: 90vw !important;
    margin: 2vw 0 2vh 2vw;
  }

  .subpage-posts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
}

.subpage-post img {
  object-fit: cover;
  height: 30vh;
  object-fit: cover;
  background-blend-mode: overlay;
  background: transparent;
  transition: 2s;
}

.subpage-post:hover img {
  background-color: rgba(24, 42, 34, 1)
}



.text-overlay {
  transition: 0.5s;
  position: relative;
  top: -40%;
  height: 60%;
  background: rgba(115, 182, 162, 0.7);
  padding: 10px 12px;
  overflow: hidden;
  box-shadow: 0 1vh 5vh rgb(0 0 0);
}

.text-overlay h2 {
  font-family: 'Abril Fatface';
  font-weight: 400;
  font-size: 1.3rem;
}

.text-overlay p {
  font-size: 0.8rem;
    line-height: 1.1rem;
    margin-top: 0.5vh;
    text-transform: capitalize;
    width: 75%;
}

.subpage-post a {
  position: absolute;
  color: white;
  text-decoration: none;
  /* background: rgba(100, 100, 100, 0.4); */
  /* margin: 24vh -1vh 0vh 3vh; */
  /* padding: 0 0 0 1vh; */
}

.subpage-post:hover > .text-overlay {
  top: -60% !important;
  transition: 0.5s;
}

@media only screen and (width >= 1024px) and (orientation : landscape) {
  .subpage-post img {
    width: 45vh;
  }
}

@media only screen and (width < 1024px) {
  .subpage-post img {
    width: 90vw;
  }
}

@media only screen and (width < 1024px) {
  .subpage-post a {
    width: 70vw;
  }
}





#developer {
  background: #112B23;
  color: #E9EBEA;
}
#product {
  background: #1C483B;
  color: #E9EBEA;
}
#designer {
  background: #35866E;
  color: #112B23;
}
#writer {
  background: #74B6A2;
  color: #112B23;
}

/* FOOTER COMPONENT */
#footer {
  background: #112B23;
  color: #E9EBEA;
}

/* DECORATIVE ELEMENTS */
.spanner {
  width: 100%;
}

#decoration_1{ height: 2vh;}
#decoration_2{ height: 3vh;}
#decoration_3{ height: 5vh;}
#decoration_4{ height: 8vh;}

.back-to-top a {
  text-decoration: none;
}

.back-to-top::before {
  content: "⇧";
}

#design-wall {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#design-wall .design-wall-item {
  width: 20%;
  height: 25vh;
}

.design-wall-item img {
  width: 100%;
}

@media only screen and (width < 1024px) {

  #design-wall .design-wall-item {
    width: 50%;
  }
}

#design-wall img:hover {
  /* opacity: 0.7; */
  /* background-color: #35866E; */
}

.design-wall-item a {
  position: absolute;
  color: white;
  text-decoration: none;
  background: rgba(100, 100, 100, 0.4);
  margin: 24vh -1vh 0vh 3vh;
  padding: 0 0 0 1vh;
}

/* Design Wall Portfolio : GRID */
#design-wall-container {
  display: grid;
      grid-gap: 1vw;
      grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
      grid-auto-rows: 20vw;
      grid-auto-flow: dense;
      width: 100%;
}

@media only screen and (width < 1024px) {
  #design-wall-container {
      grid-auto-rows: auto;
      grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));

}
}


.horizontal {
  /* background:  #00695C; */
  grid-column: span 2;
}

.vertical {
  /* background: #009688; */
  grid-row: span 2;
}

.big {
  /* background: #4DB6AC; */
  grid-column: span 2;
  grid-row: span 2;
}

.normal {
  /* background: #80CBC4; */
}

/* other stuff */

#design-wall-container > article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-family: helvetica;
    transition: 2s;
}

#design-wall-container > article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (width >= 1024px) and (orientation : landscape) {
.hallucination {
  opacity: 1;
    /* mix-blend-mode: normal;
    background-blend-mode: normal; */
    /* filter: brightness(1); */
}

.hallucination:hover img  {
  transition: 2s;
  opacity: 0.3;
  filter: blur(1px) brightness(0.3) saturate(0.3);
  /* mix-blend-mode: multiply; */
  /* background-blend-mode: screen; */
}

.hallucination:hover::after, .hallucination:hover::before {
    /* transform: scale(1.05); */
  }

.hallucination {
  background-size: cover;
  background-position: center;
  /* mix-blend-mode: normal; */
  position: relative;
  overflow: hidden;
  /* background-color: magenta; */
  /* background-blend-mode: normal; */

  }

.hallucination img {
  vertical-align: top !important;
	margin: 0 !important;
}
/*
.hallucination::before, .hallucination:hover::before{
  position: relative;
  overflow: hidden;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-color: yellow;
  transform-origin: top left;

}

.hallucination::after, .hallucination:hover::after {
  position: relative;
  overflow: hidden;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-color: cyan;
  transform-origin: bottom right;
  }
 */
}


#design-wall-container > article > a {
  top: calc();
  left: -35vw;
  position: absolute;
  margin: 0;
  padding: 20px;
  color: white;
    width: 75%;
}

#design-wall-container > article:hover > a {
  transition: 2s;
  left: 0;
  text-decoration: none;

}

#design-wall-container > article > a > h3.image-text-top {
  font-family: 'Prata';
    text-transform: uppercase;
    line-height: 1.2rem;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
/*
#design-wall-container > article > a > h3::after {
  content: " //"
} */

#design-wall-container > article > a > p {
  display: inline;
      font-family: 'Abril Fatface';
      font-weight: 400;
}
