{% assign wordCount = include.content | number_of_words | plus: 0 %}
{% assign readingTime = wordCount | divided_by: 200 | round | append: " minutes" %}
      {% if wordCount < 750 %}
        {% assign appraisal = "quick read" %}
      {% endif %}

      {% if wordCount >= 1500 %}
        {% assign appraisal = "quick read" %}
      {% endif %}

<li>
  <a href="{{include.url}}">
    {% if include.image %}
      <img src="{{include.image}}" />
    {% else %}
      <img src="/assets/image_{{include.number}}.webp" />
    {% endif %}
  </a>
  <div id="article-row-text-container">
    <a href="{{site.url}}#{{include.category[0]}}"><p id="article-row-category"><span id="article-row-category-span">{{ include.category[0] }}</span></p></a>
    <a href="{{include.url}}"><h3>{{ include.title }}</h3></a>
  <p>
     {{ include.summary }}
    </p>
  <footer>
  <p>
    {{include.readingTime}} | {{include.date | date: "%d.%m.%y" }}
  </p>
    </footer>
    </div>
</li>


