<nav>
  <!-- <section>
    ☰
  </section> -->
  <label for="element-toggle">☰</label>
<section id="logo">
  <!-- <a href="{{site.url}}"><img src="/assets/Richard_Hanrahan_Condensed_Logo.svg" /></a> -->
  <a href="{{site.url}}"><h1 class="desktop" id="title">
      Richard Hanrahan
    </h1></a>
    <a href="{{site.url}}"><h1 class="mobile" id="title-mobile" >
      <div id="title-richard">R</div>
      <div id="title-hanrahan">H</div>
    </h1></a>
</section>
<section id="navbar-socials" class="desktop">
  <a href="https://twitter.com/thehitch"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://youtube.com/HitchHitchHitch"><i class="fa-brands fa-youtube"></i></a>
</section>
</nav>
