<section class="meta">

    {% assign url = page.url | absolute_url %}
    {% assign title = page.title %}
    <section class="flex-row align-center cambridge">
        {% if page.category == "about" %}
          {% include _breadcrumbs.html %}
        {% else %}
          {% include _cat-breadcrumbs.html %}
        {% endif %}
      <div class="date">{{page.date | date: "%A, %b %d, %Y" }}</div>
      <div id="meta-socials" class="flex-row align-center">
        <a href="{% include _magazine/_twitter-intent-url.html url=url title=title %}"><i class="icon fa-brands fa-twitter"></i></a>
        <a href="{% include _magazine/_fb-intent-url.html url=url %}"><i class="icon fa-brands fa-facebook-f"></i></a>
        <i class="icon fa-solid fa-link"></i>
      </div>

    </section>
</section>
