<section class="meta">
  <!-- <h1>{{page.title}}</h1> -->
    <!-- <p class="summary">{{page.summary}}</p> -->
    <!-- <p id="meta-author" class="mt-3">
      by <strong>Richard Hanrahan</strong>
    </p> -->
    <!-- <hr /> -->
    <section class="flex-row align-center cambridge">
        {% if page.category == "about" %}
        {% include _breadcrumbs.html %}
        {% else %}
        {% include _cat-breadcrumbs.html %}
        {% endif %}
      <div class="date">{{page.date | date: "%A, %b %d, %Y" }}</div>
      <div id="meta-socials" class="flex-row align-center">
        <i class="icon fa-brands fa-twitter"></i>
        <i class="icon fa-brands fa-facebook-f"></i>
        <i class="icon fa-solid fa-link"></i>
      </div>

    </section>
    <!-- <hr /> -->
</section>
