<input id="element-toggle" type="checkbox" />
<section id="about" class="toggled-element">
  <div class="wide-container">
    <header>
      <ul id="about-links">
        <li>Video</li>
        <li>Podcasts</li>
        <li>Newsletters</li>
        <li>
          <div id="about-socials">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <img class="icon bgg" src="/assets/BGG.svg" />
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook-f"></i>
          </div>
        </li>
      </ul>

      <ul id="about-categories">
        <li>Developer</li>
        <li>Product</li>
        <li>Designer</li>
        <li>Writer</li>
        <li>Game Designer</li>
        <li>Performer</li>
      </ul>
    </header>

      <hr class="desktop light"/>
      <footer>
        <ul id="about-footer">
          <li>theme</li>
          <li>about</li>
          <li>latest cv</li>
          <li>privacy policy</li>
          <li>terms</li>
          <li>accessibility</li>
        </ul>
      </footer>
    </div>
</section>
