<input id="element-toggle" type="checkbox" />
<section id="about" class="toggled-element">
  <div class="wide-container">
    <header>

        {% assign footer-data = site.data.footer %}

          {% assign _socials = footer-data | where: "id", "socials" | first%}
          {% assign _pages = footer-data | where: "id", "pages" | first%}
          {% assign _roles = footer-data | where: "id", "roles" | first%}
          {% assign _sitemap = footer-data | where: "id", "sitemap" | first%}

          <ul id="about-links">            
            {% for entry in _pages.data %}
              
              <li>
              {% if entry.link_type == "internal" %}
                {% assign url = entry.link_url %}
                <a href="{{entry.link_url | absolute_url}}">
                {% else %}
                <a href="{{entry.link_url}}">
              {% endif %}

                {{entry.display}}</a></li>
            
            {% endfor %}
        
          <li>
          <div id="about-socials">

            {% for entry in _socials.data %}
              {% if entry.fa_bool == true %}
                {% if entry.link_type == "internal" %}
                  <a href="{{entry.link_url | absolute_url}}">
                  {% else %}
                  <a href="{{entry.link_url}}">
                {% endif %}
                <i class="{{entry.fa}}"></i></a>
              {% else %}
                {% if entry.link_type == "internal" %}
                  <a href="{{entry.link_url | absolute_url}}">
                  {% else %}
                  <a href="{{entry.link_url}}">
                {% endif %}
                <img class="{{entry.icon_class}}" src="{{entry.icon_src}}" /></a>
              {% endif %}
            {% endfor %}
          </div>
        </li>
        </ul>

      <ul id="about-categories">
        
        {% for entry in _roles.data %}
          
          <li>{% if entry.link_type == "internal" %}
                  <a href="{{entry.link_url | absolute_url}}">
                  {% else %}
                  <a href="{{entry.link_url}}">
                {% endif %}{{entry.display}}</a></li>

        {% endfor %}

      </ul>
    </header>

      <hr class="desktop light"/>
      <footer>
        <ul id="about-footer">
          {% for entry in _sitemap.data %}
          
          <li>{% if entry.link_type == "internal" %}
                  <a href="{{entry.link_url | absolute_url}}">
                  {% else %}
                  <a href="{{entry.link_url}}">
                {% endif %}{{ entry.display }}</a></li>
        
          {% endfor %}
        </ul>
      </footer>
    </div>
</section>
