<input id="element-toggle" type="checkbox" />
<section id="about" class="toggled-element">
  <div class="wide-container">
    <header>
     
        {% assign footer-data = site.data.footer %}

          {% assign _socials = footer-data | where: "id", "socials" | first%}
          {% assign _pages = footer-data | where: "id", "pages" | first%}
          {% assign _roles = footer-data | where: "id", "roles" | first%}
          {% assign _sitemap = footer-data | where: "id", "sitemap" | first%}

          <ul id="about-links">            
            {% for entry in _pages.data %}
              
              <li>{{entry.display}}</li>
            
            {% endfor %}
        
          <li>
          <div id="about-socials">

            {% for entry in _socials.data %}
              {% if entry.fa_bool == true %}
                <i class="{{entry.fa}}"></i>
              {% else %}
                <img class="{{entry.icon_class}}" src="{{entry.icon_src}}" />
              {% endif %}
            {% endfor %}
          </div>
        </li>
        </ul>

      <ul id="about-categories">
        
        {% for entry in _roles.data %}
          
          <li>{{entry.display}}</li>

        {% endfor %}

      </ul>
    </header>

      <hr class="desktop light"/>
      <footer>
        <ul id="about-footer">
          {% for entry in _sitemap.data %}
          
          <li>{{ entry.display }}</li>
        
          {% endfor %}
        </ul>
      </footer>
    </div>
</section>
