<meta property="og:url"             content="{{include.url}}" />
<meta property="og:type"            content="article" />
<meta property="og:title"           content="{{include.title}}" />
<meta property="description"     	content="{{include.description}}" />
<meta property="og:description"     content="{{include.description}}" />
<meta property="og:image"           content="{{include.image}}" />
<meta property="og:locale"			content="en_GB" />
<meta property="fb:app_id" 			content="508961004995629" />
<meta property="og:site_name" 		content="Richard Hanrahan">