<section id={{subpage.id}} class="scroll-snap scroll-page {{subpage.bg}}">
  <div class="subpage-content">
    {% include subpage_header.html id=subpage.id title=subpage.title bg=subpage.bg %}

    {% include subpage_main.html %}

    <footer>
      {% case subpage.id | downcase %}
      {% when "latest" %}
          {% include back_to_top.html text-css="text-light" %}
        {% when "developer" %}
          {% include back_to_top.html text-css="text-light" %}
        {% when "product" %}
            {% include back_to_top.html text-css="text-light" %}
      {% else %}
           {% include back_to_top.html text-css="text-dark" %}
    {% endcase %}
    </footer>

  </div>
</section>
