<section id="front_title" class="scroll-snap">
  <div class="gentle-center gap-3">
    <h1 class="desktop" id="title">
      Richard Hanrahan
    </h1>
    <h1 class="mobile" id="title-mobile" >
      <div id="title-richard">Richard</div>
      <div id="title-hanrahan">Hanrahan</div>
    </h1>
  <ul id="roles">
    <li id="developer_title"><a href="#developer">Developer</a></li>
    <li id="product_title"><a href="#product">Product Owner</a></li>
    <li id="designer_title"><a href="#designer">Designer</a></li>
    <li id="writer_title"><a href="#writer">Writer</a></li>
  </ul>
    </div>

    {% include decoration_header.html %}
  </section>
