<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Prata">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <script src="https://kit.fontawesome.com/5cc39898d3.js" crossorigin="anonymous"></script>
  {% seo %}
  {% include analytics.html %}

{% assign title="Richard Hanrahan" %}
{% assign description="writing and amusements of the performer and comedian Richard Hanrahan" %}
{% assign image="./assets/images/rh-shares.jpg" %}
{% assign url="https://theRichardHanrahan.com" %}

{% include _meta-twitter-card.html title=title description=description image=image %}
{% include _meta-fb.html title=title description=description image=image url=url %}


</head>
<body>
  <div class="wrapper">
