<main class="subpage-main">
  <p class="subpage-summary">{{subpage.summary}}</p>
  <ul class="subpage-posts mb-5">
   
   {% assign all_posts = site.posts | concat: site.extracts | sort: 'date' | reverse %}
   {% assign all_excerpts = site.extracts | sort: 'date' | reverse %}
   {% assign _subpage = (subpage.id | downcase) %}
   	{% case _subpage %}
     {% when "latest" %}
   		{% for post in all_posts limit:9 %}
          {% include subpage_highlighted_image.html
            url=post.url
            title=post.title
            image=post.image %}
        {% endfor %}
      {% when "shorts" %}
      {% assign number_of_stories = site.tags.stories.size %}
      {% for post in site.tags.stories limit:6 %}
          {% include subpage_highlighted_image.html
            url=post.url
            title=post.title
            image=post.image %}
        {% endfor %}
      <li class="placeholder-banner dark-green"><p>new stories every month</p></li>
      {% when "wrds" %}
      {% for post in site.categories.wrds limit:6 %}
          {% include subpage_highlighted_image.html
            url=post.url
            title=post.title
            image=post.image %}
        {% endfor %}
      {% when "blogs" %}
      {% for post in site.tags.newsletter limit:6 %}
          {% include subpage_highlighted_image.html
            url=post.url
            title=post.title
            image=post.image %}
        {% endfor %}

      {% when "extracts" %}
      {% for post in all_excerpts limit:6 %}
          {% include subpage_highlighted_image.html
            url=post.url
            title=post.title
            image=post.image %}
        {% endfor %}

    {% endcase %}

  </ul>


  </main>
